@inherits EditCropDetailBase

<MudDialog>
    <DialogContent>
        <div class="textfield-container">
            <MudTextField
                @bind-Value="Detail.Crop"
                Label="Crop"
                Variant="Variant.Outlined"
                InputType="InputType.Text"/>
            <MudTextField
                @bind-Value="Detail.Cultivar"
                Label="Cultivar"
                Variant="Variant.Outlined"
                InputType="InputType.Text"/>
        </div>
        <div class="textfield-container">
            <MudTextField
                @bind-Value="Detail.Dtm"
                Label="DTM"
                Variant="Variant.Outlined"
                InputType="InputType.Number"/>
            <MudTextField
                @bind-Value="Detail.PlantQuantity"
                Label="Planting Quantity"
                Variant="Variant.Outlined"
                InputType="InputType.Number"/>
        </div>
        <div class="textfield-container">
            <MudTextField
                @bind-Value="Detail.SoakHours"
                Label="Soak Hours"
                Variant="Variant.Outlined"
                InputType="InputType.Number"/>
            <MudTextField
                @bind-Value="Detail.StackingDays"
                Label="Stack Days"
                Variant="Variant.Outlined"
                InputType="InputType.Number"/>
        </div>
        <div class="textfield-container">
            <MudTextField
                @bind-Value="Detail.BlackoutDays"
                Label="Blackout Days"
                Variant="Variant.Outlined"
                InputType="InputType.Number"/>
            <MudTextField
                @bind-Value="Detail.NurseryDays"
                Label="Nursery Days"
                Variant="Variant.Outlined"
                InputType="InputType.Number"/>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton 
            Color="Color.Error"
            OnClick="HandleClose">
            Cancel
        </MudButton>
        <MudButton 
            Color="Color.Primary"
            OnClick="HandleSave">
            Save
        </MudButton>
    </DialogActions>
</MudDialog>