@inherits AppBarBase

<MudAppBar Dense="true">
    <MudIconButton
        Icon="@Icons.Material.Filled.Menu" 
        OnClick="@OnToggle"
        Color="Color.Inherit">
    </MudIconButton>
    <MudSpacer />
    <AuthorizeView>
        <Authorized>
            <form action="/account/logout" method="post">
                <AntiforgeryToken/>
                <input type="hidden" name="ReturnUrl" value="@CurrentUrl"/>
                <MudIconButton 
                    ButtonType="ButtonType.Submit" 
                    Icon="@Icons.Material.Filled.Logout" 
                    Color="Color.Inherit" />    
            </form>                
        </Authorized>
    </AuthorizeView>
</MudAppBar>