@page "/auth"

@using Agrigate.Domain.Entities.Crops
@using Agrigate.Domain.Models.Queries
@using Agrigate.Web.Services.AgrigateApiClient

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

<button @onclick="@Test">Click me!</button>

@code
{
    [Inject]
    public required IAgrigateApiClient ApiClient { get; set; }
    
    private async Task Test()
    {
        try
        {
            var result = await ApiClient.Request<PaginatedResult<CropDetail>>(HttpMethod.Get, "/Crops/Detail");
        }
        catch (Exception ex)
        {
        }
    }
}
