POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password

KEYCLOAK_DB_USER=postgres
KEYCLOAK_DB_PASSWORD=MySecretPassword123!
KEYCLOAK_ADMIN=keycloak_admin
KEYCLOAK_ADMIN_PASSWORD=keycloak_password

AGRIGATE_WEB_SECRET=MySecret